/* extra start */

.extra {
    margin-bottom: 57px;
}

.extra__content {
    display: flex;
    align-items: center;
    gap: -45px;
}

.extra__text {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.extra__title {
    width: 590px;
    font-family: var(--SB);
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: var(--white);
    text-align: start;
}

.extra__desc {
    font-family: var(--SR);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

.extra__btn {
    width: 99px;
    height: 31px;
    background: var(--grad);
    border-radius: 4px;border: none;
}

.extra__btn-text {
    font-family: var(--SR);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

.extra__img {
    position: relative;
    left: -40px;
}

/* extra end */

/* project start */

.project {
    margin-bottom: 108px;
}

.project__block {
    display: flex;
    align-items: center;
    gap: 30px;
}

.project__text {
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.project__title {
    width: 590px;
    font-family: var(--SB);
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: var(--white);
    text-align: start;
}

.project__desc {
    font-family: var(--SR);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

.project__btn {
    width: 99px;
    height: 31px;
    background: var(--grad);
    border-radius: 4px;border: none;
}

.project__btn-text {
    font-family: var(--SR);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    text-align: center;
}


/* project end */